body{
    background-color: rgb(255 94 0 / 40%);
}

p{
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    font-size: xx-large;
    font-family: Segoe UI, cursive;
}
#nameInput{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-family: "Segoe UI", sans-serif;
    font-size: large;
}

#phoneNumberInput{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-family: Segoe UI,sans-serif;
    font-size: large;
}

#dobInput{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-family: Segoe UI, sans-serif;
    font-size: large;
}
#submitInput{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-size: large;
}

/*#SuperSecretlink{
    opacity: 0%;
}*/

#name{
    font-size:large ;
}
#phoneNumber{
    font-size: large;
}
#dob{
    font-size: large;
}

#submit{
    font-size: large;
}

label {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    color: black;
    font-size: x-large;

}