body{
    background-color: #1976c2;
}

body {
    font-family: Segoe UI;
}

p{
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    font-size: x-large;
}

#error-container {
    margin: auto;
    border-radius: 25px;
    background-color: #97c9f2;
    padding: 20px;
    width: 50%;
}

span.error-display {
    margin-left: 10px;
    color: #af1313;
}

h1 {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

 a{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: rgb(19 84 143 / 60%);
    color: #ffffff;

}

.previous {
    background-color: rgba(120, 120, 120, 0.48);
    color: #000000;
}

