<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="css/styleSheet.css">
    <meta charset="UTF-8">
    <title>Accepted</title>
    <p> Accepted </p>
</head>

<body>

<form action="/accepted" method="POST">
    <div>
        <p>
            Username:&nbsp;<span class="response-display" th:text=${username}></span>
        </p>
        <p>
            Age:&nbsp;<span class="response-display" th:text=${age}></span>
        </p>
        <p>
            Birthday:&nbsp;
            <span>
                <span class="response-display" th:text=${dob}></span>
                <span id="dateformat" >(dd/mm/yyyy) </span>
            </span>
        </p>
        <p>
            Phone Number:&nbsp;<span class="response-display" th:text=${phoneNumber}></span>
        </p>
        <a href="/form" class="previous">&laquo; Previous</a>
    </div>
</form>

</body>
</html>