<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../static/styleSheet.css">
    <meta charset="UTF-8">
    <title>Submit</title>
    <p> Submit </p>
</head>


<body>

    <form action="../templates/accepted.html" method="POST">
        <br>
            <span id="nameInput" class="border">

                <label for="name"> Enter your Name:</label>
                <br>
                <input
                        type="text"
                        id="name"
                        name="name"
                        required
                        minlength="2"
                        maxlength="100"
                        size="10" />
            </span>
            <br>
            <span id="phoneNumberInput" class="border">

                <label for="phoneNumber"> Enter Phone Number:</label>
                <br>
                <input
                        type="text"
                        id="phoneNumber"
                        name="phoneNumber"
                        required
                        minlength="10"
                        maxlength="15"
                        size="10" />
            </span>
            <br>
            <span id="dobInput" class="border">
            <label for="dob"> Enter your birthdate:</label>
            <br>
                <input
                        type="date"
                        name="dob"
                        id="dob"/>
            </span>
            <br>
            <span id="submitInput" class="border">
                <input type="submit" value="Send Request" />
            <!--<a id="SuperSecretlink" href="accepted.html">super duper secret link nobody will ever find</a>-->
        </span>
    </form>

</body>
</html>